# James's EDA and Data Exploration

### Import Libraries and Facebook Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
plt.rcParams['figure.figsize'] = (10.0, 8.0)
plt.style.use(['fivethirtyeight'])

In [3]:
facebook = pd.read_csv('assets/facebook.csv', index_col = 0)

/Users/jamesdenney/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
facebook.head()

,brand,content,engagement,has_spend,id,impact,share_token,timestamp,type,urls,...,message,permalink,picture_url,angry_count,haha_count,love_count,sad_count,wow_count,shares,reaction_count
0,137316,"{'reactions': {'wow_count': 0, 'sad_count': 0,...",9,0.0,MTM3MzE2LTU0NTA4NDg5X2ZhY2Vib29rIHBvc3RfMTc0ODM,0.005619,FRI3zHcgR410PLLtjinjwU-xhf8kQw0VfV3KIISpuwTore...,2017-11-16 04:59:09,facebook post,"[{'url': 'http://glmr.co/jg9jPXX', 'path': '/j...",...,"Sometimes it gets really, really good.",https://www.facebook.com/26815555478/posts/101...,https://external.xx.fbcdn.net/safe_image.php?d...,0.0,0.0,2.0,0.0,0.0,0,8.0
1,137322,"{'reactions': {'wow_count': 1, 'sad_count': 4,...",628,0.0,MTM3MzIyLTU0NTA4NDYwX2ZhY2Vib29rIHBvc3RfMTc0ODM,0.395325,IzB7KwBdHjLpx_v3cdFXNU-xhf8kQw0VfV3KIISpuwTore...,2017-11-16 04:45:59,facebook post,[{'url': 'https://www.facebook.com/teenvogue/p...,...,😴 😴 😴,https://www.facebook.com/6636341311/posts/1015...,https://scontent.xx.fbcdn.net/v/t1.0-9/2362157...,0.0,31.0,11.0,4.0,1.0,43,512.0
2,137325,"{'reactions': {'wow_count': 0, 'sad_count': 0,...",33,0.0,MTM3MzI1LTU0NTA4NDI5X2ZhY2Vib29rIHBvc3RfMTc0ODM,0.028596,9VB8_ABmpcmn8m9u1knu_U-xhf8kQw0VfV3KIISpuwTore...,2017-11-16 04:39:12,facebook post,"[{'url': 'http://vntyfr.com/l67xkTh', 'path': ...",...,"""The ideology of Bannonism and its relatives c...",https://www.facebook.com/8810407571/posts/1015...,https://external.xx.fbcdn.net/safe_image.php?d...,0.0,0.0,0.0,0.0,0.0,6,24.0
3,137322,"{'reactions': {'wow_count': 0, 'sad_count': 0,...",62,0.0,MTM3MzIyLTU0NTA4NDM3X2ZhY2Vib29rIHBvc3RfMTc0ODM,0.040210,rkTmh8C9usX7gB9mrRns7k-xhf8kQw0VfV3KIISpuwTore...,2017-11-16 04:35:04,facebook post,"[{'url': 'http://tnvge.co/8To5KBW', 'path': '/...",...,Everyone starts somewhere.,https://www.facebook.com/6636341311/posts/1015...,https://external.xx.fbcdn.net/safe_image.php?d...,0.0,1.0,3.0,0.0,0.0,9,45.0
4,137329,"{'reactions': {'wow_count': 0, 'sad_count': 0,...",46,0.0,MTM3MzI5LTU0NTA4NDkxX2ZhY2Vib29rIHBvc3RfMTc0ODM,0.107406,SdBYglyQBQA4wbPwIFC1HE-xhf8kQw0VfV3KIISpuwTore...,2017-11-16 04:32:48,facebook post,"[{'url': 'http://wmag.cm/iF1pOXN', 'path': '/i...",...,Are you ready for it? via PopSugar,https://www.facebook.com/40621875003/posts/101...,https://external.xx.fbcdn.net/safe_image.php?d...,0.0,2.0,5.0,0.0,0.0,0,46.0

In [5]:
# display the entirety of cells, no ellipsis truncation
pd.set_option('display.max_colwidth', -1)

### Basic analysis and exploration

In [6]:
# describe numeric columns

facebook.describe()

,brand,engagement,has_spend,impact,comments,content_type,like_count,angry_count,haha_count,love_count,sad_count,wow_count,shares,reaction_count
count,249485.000000,2.494850e+05,249485.000000,249485.000000,249485.000000,249485.000000,249485.000000,249485.000000,249485.000000,249485.000000,249485.000000,249485.000000,2.494850e+05,249485.000000
mean,137317.993154,9.344213e+02,0.001058,0.339652,41.190989,2.176832,700.964174,4.733435,18.247161,54.140918,5.431164,9.058681,1.013106e+02,792.575534
std,10.030055,7.248065e+03,0.032513,4.256598,765.012843,0.517091,2921.130610,59.483703,283.517329,775.892409,101.300000,54.523022,3.527412e+03,3745.091899
min,137299.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,137314.000000,8.400000e+01,0.000000,0.000000,1.000000,2.000000,67.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000e+00,73.000000
50%,137322.000000,2.310000e+02,0.000000,0.000000,5.000000,2.000000,186.000000,0.000000,0.000000,5.000000,0.000000,0.000000,1.000000e+01,204.000000
75%,137326.000000,7.060000e+02,0.000000,0.130557,15.000000,2.000000,573.000000,0.000000,2.000000,23.000000,0.000000,3.000000,3.300000e+01,633.000000
max,137329.000000,1.665148e+06,1.000000,865.498674,198367.000000,8.000000,567242.000000,10576.000000,61599.000000,185370.000000,19128.000000,4026.000000,1.071651e+06,762230.000000

In [7]:
facebook.groupby('brand').reaction_count.median()

brand
137299    72.0
137300    694.0
137314    268.0
137316    232.0
137321    73.0
137322    502.0
137325    160.0
137326    283.0
137329    91.0
Name: reaction_count, dtype: float64

In [8]:
facebook.groupby('brand').angry_count.describe()

          count       mean         std  min  25%  50%  75%      max
brand
137299  29533.0  1.025903   13.357103   0.0  0.0  0.0  0.0  1091.0
137300  18661.0  0.326349   3.774786    0.0  0.0  0.0  0.0  267.0
137314  19055.0  1.732301   37.471969   0.0  0.0  0.0  0.0  3007.0
137316  26532.0  4.607681   56.121683   0.0  0.0  0.0  0.0  4097.0
137321  21910.0  1.266362   16.888404   0.0  0.0  0.0  0.0  1274.0
137322  44393.0  10.245331  97.474777   0.0  0.0  0.0  1.0  10576.0
137325  23786.0  18.811654  115.724332  0.0  0.0  0.0  1.0  3684.0
137326  35656.0  1.314281   17.894189   0.0  0.0  0.0  0.0  1629.0
137329  29959.0  0.413565   4.751210    0.0  0.0  0.0  0.0  315.0

In [9]:
facebook.groupby('brand').like_count.describe()

          count         mean          std  min    25%    50%     75%       max
brand
137299  29533.0  273.443538   3826.324506  0.0  30.0   67.0   175.0   324770.0
137300  18661.0  1371.943679  2205.220027  0.0  223.0  670.0  1605.0  85489.0
137314  19055.0  652.798321   1389.615918  0.0  96.0   247.0  671.0   86426.0
137316  26532.0  581.951153   5305.711775  0.0  103.0  218.0  478.0   567242.0
137321  21910.0  274.527932   1160.825300  0.0  28.0   68.0   186.0   78660.0
137322  44393.0  1215.351880  2459.948796  1.0  160.0  453.0  1321.0  169464.0
137325  23786.0  486.660599   2477.656639  0.0  50.0   128.0  363.0   174387.0
137326  35656.0  924.422846   2779.282119  0.0  121.0  267.0  678.0   129275.0
137329  29959.0  294.343770   1469.836183  0.0  36.0   84.0   216.0   103457.0

In [10]:
facebook.groupby('brand').shares.describe()

          count        mean          std  min   25%   50%    75%        max
brand
137299  29533.0  154.397488  5527.802885  0.0  3.0   8.0   24.0   511647.0
137300  18661.0  115.596324  757.515599   0.0  13.0  40.0  105.0  87266.0
137314  19055.0  185.429861  3037.215557  0.0  14.0  40.0  112.0  379214.0
137316  26532.0  159.259762  8163.382596  0.0  3.0   7.0   20.0   1071651.0
137321  21910.0  98.159471   1580.812468  0.0  2.0   8.0   30.0   131352.0
137322  44393.0  76.665353   1397.013924  0.0  4.0   11.0  33.0   189026.0
137325  23786.0  98.057219   1837.273213  0.0  3.0   10.0  32.0   143559.0
137326  35656.0  53.933728   533.440289   0.0  5.0   10.0  25.0   51103.0
137329  29959.0  33.049501   706.172999   0.0  2.0   4.0   12.0   58719.0

In [11]:
# top-shared post overall is from Glamour Magazine with a video depicting the menstrual cycle

facebook[(facebook['brand']==137316) & (facebook['shares']==max(facebook['shares']))].permalink

128518    https://www.facebook.com/26815555478/posts/10154657322060479
Name: permalink, dtype: object

In [12]:
# most shares overall

facebook.sort_values(by=['shares'], ascending=False).head()

,brand,content,engagement,has_spend,id,impact,share_token,timestamp,type,urls,...,message,permalink,picture_url,angry_count,haha_count,love_count,sad_count,wow_count,shares,reaction_count
128518,137316,"{'reactions': {'wow_count': 2314, 'sad_count': 3262, 'angry_count': 446, 'love_count': 26625, 'haha_count': 53531}, 'permalink': 'https://www.facebook.com/26815555478/posts/10154657322060479', 'hashtags': '', 'media_name': 'Your Period in 2 Minutes', 'media_caption': None, 'media_description': None, 'link_url': 'https://www.facebook.com/glamour/videos/10154657322060479/', 'picture_url': 'https://scontent.xx.fbcdn.net/v/t15.0-10/p720x720/15452853_10154657324745479_6799239477916073984_n.jpg?oh=000e257c76948e05204bfb670fb0f1cf&oe=58F4C588', 'links': ['https://www.facebook.com/glamour/videos/10154657322060479/'], 'post_id': '26815555478_10154657322060479', 'comment_count': 131797, 'like_count': 375522, 'content_type': 4, 'message': 'All 28 days of it—in just two minutes.', 'share_count': 1071651}",1665148,0.0,MTM3MzE2LTM1MTk0NDkxX2ZhY2Vib29rIHBvc3RfMA,0.000000,Q-QuXtxA_h1MW778EJ_qV2ZGet46XZs3u8wLm7RAhsI,2016-12-15 15:12:32,facebook post,NaN,...,All 28 days of it—in just two minutes.,https://www.facebook.com/26815555478/posts/10154657322060479,https://scontent.xx.fbcdn.net/v/t15.0-10/p720x720/15452853_10154657324745479_6799239477916073984_n.jpg?oh=000e257c76948e05204bfb670fb0f1cf&oe=58F4C588,446.0,53531.0,26625.0,3262.0,2314.0,1071651,461700.0
97555,137299,"{'reactions': {'wow_count': 3432, 'sad_count': 79, 'angry_count': 10, 'love_count': 73904, 'haha_count': 1073}, 'permalink': 'https://www.facebook.com/24810773606/posts/10155053489738607', 'hashtags': '', 'media_name': 'The Best Beauty Advice From Centenarians', 'media_caption': None, 'media_description': None, 'link_url': 'https://www.facebook.com/allure/videos/10155053489738607/', 'picture_url': 'https://scontent.xx.fbcdn.net/v/t15.0-10/17199500_10155053493003607_1819232573310631936_n.jpg?oh=4c8c242631a36c9266eec863b8d649c6&oe=593AB63C', 'links': ['https://www.facebook.com/allure/videos/10155053489738607/', 'http://in.allure.com/kV0tql8'], 'post_id': '24810773606_10155053489738607', 'comment_count': 43774, 'like_count': 324770, 'content_type': 4, 'message': 'These 100-year-olds give the BEST beauty advice: http://in.allure.com/kV0tql8', 'share_count': 511647}",958689,0.0,MTM3Mjk5LTQwMzk5NzUzX2ZhY2Vib29rIHBvc3RfMA,568.756152,ANe-nz8HuyiJsjRSqK2BXmZGet46XZs3u8wLm7RAhsI,2017-03-08 04:00:00,facebook post,"[{'url': 'https://www.facebook.com/allure/videos/10155053489738607/', 'path': '/allure/videos/10155053489738607/', 'hostname': 'www.facebook.com', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}, {'url': 'http://in.allure.com/kV0tql8', 'path': '/kV0tql8', 'hostname': 'in.allure.com', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}, {'url': 'http://www.allure.com/story/centenarians-share-their-beauty-advice?mbid=social_facebook', 'path': '/story/centenarians-share-their-beauty-advice', 'hostname': 'www.allure.com', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}]",...,These 100-year-olds give the BEST beauty advice: http://in.allure.com/kV0tql8,https://www.facebook.com/24810773606/posts/10155053489738607,https://scontent.xx.fbcdn.net/v/t15.0-10/17199500_10155053493003607_1819232573310631936_n.jpg?oh=4c8c242631a36c9266eec863b8d649c6&oe=593AB63C,10.0,1073.0,73904.0,79.0,3432.0,511647,403268.0
12379,137316,"{'reactions': {'wow_count': 1076, 'sad_count': 81, 'angry_count': 55, 'love_count': 166160, 'haha_count': 9371}, 'permalink': 'https://www.facebook.com/26815555478/posts/10155603701885479', 'hashtags': '', 'media_name': 'Ashley Graham on loving yourself, and putting your insecuritie...', 'media_caption': None, 'media_description': None, 'link_url': 'https://www.facebook.com/glamour/videos/10155603701885479/', 'picture_url': 'https://scontent.xx.fbcdn.net/v/t15.0-10/p720x720/22492394_10155603714585479_3144928685111377920_n.jpg?oh=eabfbeb53ba474649f21d80158004310&oe=5A6AF4CB', 'links': ['https://www.facebook.com/glamour/videos/10155603701885479/'], 'post_id': '26815555478_10155603701885479', 'comment_count': 22899, 'like_count': 342100, 'content_type': 4, 'message': 'Everyone needs to watch Ashley Graham\'s empowering message to young girls: ""Being OK with who you are is a revolutionary act.""', 'share_count': 462144}",1003886,0.0,MTM3MzE2LTUyMjA4MDA1X2ZhY2Vib29rIHBvc3RfMA,0.000000,mncf7B2wn-uMWe-cWmMrNGZGet46XZs3u8wLm7RAhsI,2017-10-13 19:46:36,facebook post,"[{'url': 'https://www.facebook.com/glamour/videos/10155603701885479/', 'path': '/glamour/videos/10155603701885479/', 'hostname': 'www.facebook.com', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}]",...,"Everyone needs to watch Ashley Graham's empowering message to young girls: ""Being OK with who you are is a revolutionary act.""",https://www.facebook.com/26815555478/posts/10155603701885479,https://scontent.xx.fbcdn.net/v/t15.0-10/p720x720/22492394_10155603714585479_3144928685111377920_n.jpg?oh=eabfbeb53ba474649f21d80158004310&oe=5A6AF4CB,55.0,9371.0,166160.0,81.0,1076.0,462144,518843.0
7840,137316,"{'reactions': {'wow_count': 1832, 'sad_count': 48, 'angry_count': 63, 'love_count': 182895, 'haha_count': 10150}, 'permalink': 'https://www.facebook.com/26815555478/posts/10155637551490479', 'hashtags': '', 'media_name': None, 'media_caption': None, 'media_description': None, 'link_url': 'https://www.facebook.com/glamour/videos/10155637551490479/', 'picture_url': 'https://scontent.xx.fbcdn.net/v/t15.0-10/p720x720/22741575_10155637579930479_4631972222708219904_n.jpg?oh=d0227d598dcd36f0ce8ed45f21811fa9&oe=5AA9C4A9', 'links': ['https://www.facebook.com/glamour/videos/10155637551490479/', 'http://glmr.co/dde9f00'], 'post_id': '26815555478_10155637551490479', 'comment_count': 29125, 'like_count': 567242, 'content_type': 4, 'message': 'Reese Witherspoon gave a fire speech at our Women of the Year Awards in 2015. Tune in LIVE to Women of the Year 2017 with an RSVP to the event here: http://glmr.co/dde9f00', 'share_count': 455791}",1247146,0.0,MTM3MzE2LTUyODQwMTM0X2ZhY2Vib29rIHBvc3RfMA,315.015567,GHRA_EARSqhbaCl068IC4mZGet46XZs3u8wLm7RAhsI,2017-10-25 21:01:00,facebook post,"[{'url': 'https://www.facebook.com/glamour/videos/10155637551490479/', 'path': '/glamour/videos/10155637551490479/', 'hostname': 'www.facebook.com', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}, {'url': 'http://glmr.co/dde9f00', 'path': '/dde9f00', 'hostname': 'glmr.co', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}, {'url': 'https://www.facebook.com/events/138539150034045/', 'path': '/events/138539150034045/', 'hostname': 'www.facebook.com', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}]",...,Reese Witherspoon gave a fire speech at our Women of the Year Awards in 2015. Tune in LIVE to Women of the Year 2017 with an RSVP to the event here: http://glmr.co/dde9f00,https://www.facebook.com/26815555478/posts/10155637551490479,https://scontent.xx.fbcdn.net/v/t15.0-10/p720x720/22741575_10155637579930479_4631972222708219904_n.jpg?oh=d0227d598dcd36f0ce8ed45f21811fa9&oe=5AA9C4A9,63.0,10150.0,182895.0,48.0,1832.0,455791,762230.0
145022,137314,"{'reactions': {'wow_count': 3948, 'sad_count': 15, 'angry_count': 6, 'love_count': 8440, 'haha_count': 64}, 'permalink': 'https://www.facebook.com/21317493981/posts/10154743436208982', 'hashtags': '', 'media_name': 'Spend the Night Under the Northern Lights In An Igloo', 'media_caption': None, 'media_description': None, 'link_url': 'https://www.facebook.com/CondeNastTraveler/videos/10154743436208982/', 'picture_url': 'https://scontent.xx.fbcdn.net/v/t15.0-10/p720x720/14900143_10154743440403982_2334865636536090624_n.jpg?oh=f60aadf15357427242004d2a08343acd&oe=58D2FB0C', 'links': ['https://www.facebook.com/CondeNastTraveler/videos/10154743436208982/'], 'post_id': '21317493981_10154743436208982', 'comment_count': 56808, 'like_count': 86426, 'content_type': 4, 'message': 'Want to see the Northern Lights? Now you can view them from inside a cozy, secluded igloo hotel in Finland.', 'share_count': 379214}",534921,1.0,MTM3MzE0LTMyMjY2OTU4X2ZhY2Vib29rIHBvc3RfMA,0.000000,Fz93wupqMHpGBrRDy7j0aWZGet46XZs3u8wLm7RAhsI,2016-11-02 01:30:00,facebook post,NaN,...,"Want to see the Northern Lights? Now you can view them from inside a cozy, secluded igloo hotel in Finland.",https://www.facebook.com/21317493981/posts/10154743436208982,https://scontent.xx.fbcdn.net/v/t15.0-10/p720x720/14900143_10154743440403982_2334865636536090624_n.jpg?oh=f60aadf15357427242004d2a08343acd&oe=58D2FB0C,6.0,64.0,8440.0,15.0,3948.0,379214,98899.0

In [13]:
# most reactions

facebook[['brand','impact','message','permalink','reaction_count']].sort_values(by=['reaction_count'], ascending=False).head(10)

,brand,impact,message,permalink,reaction_count
7840,137316,315.015567,Reese Witherspoon gave a fire speech at our Women of the Year Awards in 2015. Tune in LIVE to Women of the Year 2017 with an RSVP to the event here: http://glmr.co/dde9f00,https://www.facebook.com/26815555478/posts/10155637551490479,762230.0
12379,137316,0.000000,"Everyone needs to watch Ashley Graham's empowering message to young girls: ""Being OK with who you are is a revolutionary act.""",https://www.facebook.com/26815555478/posts/10155603701885479,518843.0
13087,137316,0.000000,Uzo Aduba didn't always love her name. Hear the story that brought down the house at today's International Day of the Girl rally.,https://www.facebook.com/26815555478/posts/10155598495785479,478657.0
128518,137316,0.000000,All 28 days of it—in just two minutes.,https://www.facebook.com/26815555478/posts/10154657322060479,461700.0
97555,137299,568.756152,These 100-year-olds give the BEST beauty advice: http://in.allure.com/kV0tql8,https://www.facebook.com/24810773606/posts/10155053489738607,403268.0
99815,137299,496.899214,This acid burn victim finds empowerment through her scars: http://in.allure.com/VtKBKVI\n\n(📹: in partnership with Style Like U),https://www.facebook.com/24810773606/posts/10155035091123607,366904.0
96749,137299,327.274565,Your muscles ARE beautiful. 💕 http://in.allure.com/3fkHDDJ\n\n(📹 in partnership with Style Like U),https://www.facebook.com/24810773606/posts/10155062981113607,363675.0
87497,137299,313.088417,"You're beautiful for who you are inside—not for what you look like, says Lizzie Velasquez: http://in.allure.com/EeDG3S1 💕\n\n(📹 in partnership with Style Like U)",https://www.facebook.com/24810773606/posts/10155139355833607,341647.0
7424,137325,309.043554,"Mila Kunis, Kristen Bell, and Kathryn Hahn weren't expecting a chicken in that box.",https://www.facebook.com/8810407571/posts/10155289698082572,261013.0
148986,137299,865.498674,Lizzie Velasquez is truly beautiful. ❤️,https://www.facebook.com/24810773606/posts/10154603367408607,260328.0

In [14]:
facebook[['brand','impact','message','permalink','reaction_count','shares']].sort_values(by=['shares'], ascending=False).head(10)

,brand,impact,message,permalink,reaction_count,shares
128518,137316,0.000000,All 28 days of it—in just two minutes.,https://www.facebook.com/26815555478/posts/10154657322060479,461700.0,1071651
97555,137299,568.756152,These 100-year-olds give the BEST beauty advice: http://in.allure.com/kV0tql8,https://www.facebook.com/24810773606/posts/10155053489738607,403268.0,511647
12379,137316,0.000000,"Everyone needs to watch Ashley Graham's empowering message to young girls: ""Being OK with who you are is a revolutionary act.""",https://www.facebook.com/26815555478/posts/10155603701885479,518843.0,462144
7840,137316,315.015567,Reese Witherspoon gave a fire speech at our Women of the Year Awards in 2015. Tune in LIVE to Women of the Year 2017 with an RSVP to the event here: http://glmr.co/dde9f00,https://www.facebook.com/26815555478/posts/10155637551490479,762230.0,455791
145022,137314,0.000000,"Want to see the Northern Lights? Now you can view them from inside a cozy, secluded igloo hotel in Finland.",https://www.facebook.com/21317493981/posts/10154743436208982,98899.0,379214
87497,137299,313.088417,"You're beautiful for who you are inside—not for what you look like, says Lizzie Velasquez: http://in.allure.com/EeDG3S1 💕\n\n(📹 in partnership with Style Like U)",https://www.facebook.com/24810773606/posts/10155139355833607,341647.0,349923
96749,137299,327.274565,Your muscles ARE beautiful. 💕 http://in.allure.com/3fkHDDJ\n\n(📹 in partnership with Style Like U),https://www.facebook.com/24810773606/posts/10155062981113607,363675.0,346629
148986,137299,865.498674,Lizzie Velasquez is truly beautiful. ❤️,https://www.facebook.com/24810773606/posts/10154603367408607,260328.0,335678
13087,137316,0.000000,Uzo Aduba didn't always love her name. Hear the story that brought down the house at today's International Day of the Girl rally.,https://www.facebook.com/26815555478/posts/10155598495785479,478657.0,323050
99815,137299,496.899214,This acid burn victim finds empowerment through her scars: http://in.allure.com/VtKBKVI\n\n(📹: in partnership with Style Like U),https://www.facebook.com/24810773606/posts/10155035091123607,366904.0,296610

### Use CountVectorizer to build vocabulary

In [15]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.model_selection import cross_val_score, learning_curve, train_test_split
from sklearn.metrics import classification_report
from sklearn.naive_bayes import MultinomialNB, BernoulliNB, GaussianNB
from sklearn.pipeline import Pipeline

%matplotlib inline

sns.set_style("darkgrid")

In [16]:
# initialize count vectorizer

cvt = CountVectosarizer()
cvt_stop = CountVectorizer(stop_words='english')

## Do count vectorization by brand

In [29]:
glamour = facebook[facebook['brand_name']=='Glamour'].copy()

In [21]:
glamour.head(3)

,brand,content,engagement,has_spend,id,impact,share_token,timestamp,type,urls,...,message,permalink,picture_url,angry_count,haha_count,love_count,sad_count,wow_count,shares,reaction_count
0,137316,"{'reactions': {'wow_count': 0, 'sad_count': 0, 'angry_count': 0, 'love_count': 2, 'haha_count': 0}, 'permalink': 'https://www.facebook.com/26815555478/posts/10155699257305479', 'hashtags': '', 'media_name': '11 Women Share What Really Happens to Your Sex Drive During Pregnancy', 'media_caption': 'glamour.com', 'media_description': ' ', 'link_url': 'http://glmr.co/jg9jPXX', 'picture_url': 'https://external.xx.fbcdn.net/safe_image.php?d=AQDhXtx7-b1diuab&url=https%3A%2F%2Fmedia.glamour.com%2Fphotos%2F57a0bc4354c640ad26366526%2Fmaster%2Fpass%2Fknocked-up-in-bed.jpg&_nc_hash=AQB8Ixdn1SF2yWol', 'links': ['http://glmr.co/jg9jPXX', 'glamour.com'], 'post_id': '26815555478_10155699257305479', 'comment_count': 1, 'like_count': 6, 'content_type': 2, 'message': 'Sometimes it gets really, really good.', 'share_count': 0}",9,0.0,MTM3MzE2LTU0NTA4NDg5X2ZhY2Vib29rIHBvc3RfMTc0ODM,0.005619,FRI3zHcgR410PLLtjinjwU-xhf8kQw0VfV3KIISpuwToreqw3fR0cEsVe5xsj9xR,2017-11-16 04:59:09,facebook post,"[{'url': 'http://glmr.co/jg9jPXX', 'path': '/jg9jPXX', 'hostname': 'glmr.co', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}, {'url': 'https://www.glamour.com/story/11-women-reveal-how-pregnancy-affected-their-sex-lives?mbid=social_facebook_fanpage', 'path': '/story/11-women-reveal-how-pregnancy-affected-their-sex-lives', 'hostname': 'www.glamour.com', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}]",...,"Sometimes it gets really, really good.",https://www.facebook.com/26815555478/posts/10155699257305479,https://external.xx.fbcdn.net/safe_image.php?d=AQDhXtx7-b1diuab&url=https%3A%2F%2Fmedia.glamour.com%2Fphotos%2F57a0bc4354c640ad26366526%2Fmaster%2Fpass%2Fknocked-up-in-bed.jpg&_nc_hash=AQB8Ixdn1SF2yWol,0.0,0.0,2.0,0.0,0.0,0,8.0
5,137316,"{'reactions': {'wow_count': 1, 'sad_count': 0, 'angry_count': 0, 'love_count': 0, 'haha_count': 0}, 'permalink': 'https://www.facebook.com/26815555478/posts/10155699217245479', 'hashtags': '', 'media_name': ""Painful Sex Is Very Common for Women So Why Don't We Talk About It?"", 'media_caption': 'glamour.com', 'media_description': ' ', 'link_url': 'http://glmr.co/woZJzmr', 'picture_url': 'https://external.xx.fbcdn.net/safe_image.php?d=AQCUSp7uiqXZ_VZU&url=https%3A%2F%2Fmedia.glamour.com%2Fphotos%2F58bdbca65a6f874d2964c77c%2Fmaster%2Fpass%2Flede%2520%288%29.jpg&_nc_hash=AQDnCD7s_285V2-y', 'links': ['glamour.com', 'http://glmr.co/woZJzmr'], 'post_id': '26815555478_10155699217245479', 'comment_count': 2, 'like_count': 51, 'content_type': 2, 'message': ""You're not alone in this."", 'share_count': 4}",58,0.0,MTM3MzE2LTU0NTA4NDI1X2ZhY2Vib29rIHBvc3RfMTc0ODM,0.030003,xfe84TkNhvO4o7icVTMknU-xhf8kQw0VfV3KIISpuwToreqw3fR0cEsVe5xsj9xR,2017-11-16 04:31:06,facebook post,"[{'url': 'http://glmr.co/woZJzmr', 'path': '/woZJzmr', 'hostname': 'glmr.co', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}, {'url': 'https://www.glamour.com/story/why-dont-we-talk-about-painful-sex?mbid=social_facebook_fanpage', 'path': '/story/why-dont-we-talk-about-painful-sex', 'hostname': 'www.glamour.com', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}]",...,You're not alone in this.,https://www.facebook.com/26815555478/posts/10155699217245479,https://external.xx.fbcdn.net/safe_image.php?d=AQCUSp7uiqXZ_VZU&url=https%3A%2F%2Fmedia.glamour.com%2Fphotos%2F58bdbca65a6f874d2964c77c%2Fmaster%2Fpass%2Flede%2520%288%29.jpg&_nc_hash=AQDnCD7s_285V2-y,0.0,0.0,0.0,0.0,1.0,4,52.0
15,137316,"{'reactions': {'wow_count': 0, 'sad_count': 0, 'angry_count': 0, 'love_count': 0, 'haha_count': 0}, 'permalink': 'https://www.facebook.com/26815555478/posts/10155699167075479', 'hashtags': '', 'media_name': '9 Things You Should Never Say to a Woman Who Loves Makeup', 'media_caption': 'glamour.com', 'media_description': ' ', 'link_url': 'http://glmr.co/gXt0ref', 'picture_url': 'https://external.xx.fbcdn.net/safe_image.php?d=AQC4PjkgoHOe-hGi&url=https%3A%2F%2Fmedia.glamour.com%2Fphotos%2F59dd20742bd12b2a6d3e538b%2Fmaster%2Fpass%2FScreen%2520Shot%25202017-10-10%2520at%25203.32.36%2520PM.png&_nc_hash=AQCBo6nmacn95ExI', 'links': ['http://glmr.co/gXt0ref', 'glamour.com'], 'post_id': '26815555478_10155699167075479', 'comment_count': 2, 'like_count': 38, 'content_type': 2, 'message': ""We're convinced you'll agree with Huda Kattan on these."", 'share_count': 7}",47,0.0,MTM3MzE2LTU0NTA3MDY4X2ZhY2Vib29rIHBvc3RfMTc0ODM,0.028083,3212FqLOF-9Wlq71WpfWyE-xhf8kQw0VfV3KIISpuwToreqw3fR0cEsVe5xsj9xR,2017-11-16 04:00:25,facebook post,"[{'url': 'http://glmr.co/gXt0ref', 'path': '/gXt0ref', 'hostname': 'glmr.co', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}, {'url': 'https://www.glamour.com/story/huda-kattan-what-not-to-say-makeup?mbid=social_facebook_fanpage', 'path': '/story/huda-kattan-what-not-to-say-makeup', 'hostname': 'www.glamour.com', 'utm': {'term': None, 'medium': None, 'campaign': None, 'content': None, 'source': None, 'id': None}}]",...,We're convinced you'll agree with Huda Kattan on these.,https://www.facebook.com/26815555478/posts/10155699167075479,https://external.xx.fbcdn.net/safe_image.php?d=AQC4PjkgoHOe-hGi&url=https%3A%2F%2Fmedia.glamour.com%2Fphotos%2F59dd20742bd12b2a6d3e538b%2Fmaster%2Fpass%2FScreen%2520Shot%25202017-10-10%2520at%25203.32.36%2520PM.png&_nc_hash=AQCBo6nmacn95ExI,0.0,0.0,0.0,0.0,0.0,7,38.0

In [30]:
glamour.message.fillna('asdf', inplace=True)

In [31]:
# split the message data into train/test along with likes

glam_trn, glam_tst, GM_like_trn, GM_like_tst = train_test_split(glamour['message'],glamour['like_count'], test_size=0.3, random_state=6)

In [32]:
sum(glam_trn.isnull())

0

In [33]:
glam_message = cvt_stop.fit_transform(glam_trn)

# store words and frequencies in arrays, then combine
glam_words = cvt_stop.get_feature_names()
glam_freqs = glam_message.toarray().sum(axis=0)

# put the above into a single array, and make that array a DataFrame
glamarray = [[glam_words[ii], glam_freqs[ii]] for ii in range(len(glam_words))]
glam_messageDF = pd.DataFrame(data=glamarray)
glam_messageDF.columns = ['word','frequency']

# show the 20 most commonly used words
glam_messageDF.sort_values('frequency',ascending=False)[:20]

         word  frequency
5631   just    768
6056   like    622
11438  women   555
6960   new     474
5784   know    444
6167   look    438
3166   don     434
10426  think   405
790    asdf    399
10497  time    387
8338   really  379
5036   http    357
11043  ve      351
6924   need    345
6286   make    338
6131   ll      336
11211  want    336
4416   glmr    335
4457   good    320
7537   people  311

In [34]:
# CVT with ngrams of 2
cvt_stop_2wp = CountVectorizer(stop_words='english', ngram_range=(2,2))

msg_train = cvt_stop_2wp.fit_transform(glam_trn)

# store words and frequencies in arrays, then combine
msg_wds = cvt_stop_2wp.get_feature_names()
msg_frq = msg_train.toarray().sum(axis=0)

# put the above into a single array, and make that array a DataFrame
msg_freq = [[msg_wds[ii], msg_frq[ii]] for ii in range(len(msg_wds))]
glam_phrase2DF = pd.DataFrame(data=msg_freq)
glam_phrase2DF.columns = ['word','frequency']

# show the 20 most commonly used words
glam_phrase2DF.sort_values('frequency',ascending=False)[:20]

                      word  frequency
18882  http glmr            335
11045  donald trump         95
40127  taylor swift         91
35475  self magazine        88
31333  prevention magazine  82
14875  game thrones         81
15479  glamour news         74
27330  need know            72
35453  selena gomez         71
24256  looks like           67
21365  kim kardashian       66
33023  red carpet           64
21077  kardashian west      60
8518   cover star           54
26965  moviepilot com       53
46846  year old             51
40234  teen vogue           50
32550  real simple          49
43510  ve got               49
24074  look like            47

In [35]:
allure = facebook[facebook['brand_name']=='Allure'].copy()
allure.message.fillna('asdf', inplace=True)
allure_trn, allure_tst, all_like_trn, all_like_tst = train_test_split(allure['message'],allure['like_count'], test_size=0.3, random_state=6)

# CVT with ngrams of 2
allure_stop_2wp = CountVectorizer(stop_words='english', ngram_range=(2,2))

all_train = allure_stop_2wp.fit_transform(allure_trn)

# store words and frequencies in arrays, then combine
all_msg_wds = allure_stop_2wp.get_feature_names()
all_msg_frq = all_train.toarray().sum(axis=0)

# put the above into a single array, and make that array a DataFrame
all_array = [[all_msg_wds[ii], all_msg_frq[ii]] for ii in range(len(all_msg_wds))]
allure_phrase2DF = pd.DataFrame(data=all_array)
allure_phrase2DF.columns = ['word','frequency']

# show the 20 most commonly used words
allure_phrase2DF.sort_values('frequency',ascending=False)[:20]

                  word  frequency
1454   allure com       1112
19781  http allure      1104
22729  kylie jenner     193
40905  teen vogue       169
37608  skin care        156
22059  kat von          121
25902  mac cosmetics    120
13982  faced cosmetics  108
3362   beauty products  106
22127  kendall jenner   105
22258  kim kardashian   102
22039  kardashian west  96
16319  gigi hadid       95
17937  hair color       94
43729  urban decay      89
10759  decay cosmetics  87
25125  look like        74
26370  makeup artist    67
24845  ll want          65
36266  selena gomez     62

In [36]:
vogue = facebook[facebook['brand_name']=='Vogue'].copy()
vogue.message.fillna('asdf', inplace=True)
vogue_trn, vogue_tst, vog_like_trn, vog_like_tst = train_test_split(vogue['message'],vogue['like_count'], test_size=0.3, random_state=6)

# CVT with ngrams of 2
vogue_stop_2wp = CountVectorizer(stop_words='english', ngram_range=(2,2))

vogue_set = vogue_stop_2wp.fit_transform(vogue_trn)

# store words and frequencies in arrays, then combine
vogue_wds = vogue_stop_2wp.get_feature_names()
vogue_frq = vogue_set.toarray().sum(axis=0)

# put the above into a single array, and make that array a DataFrame
vogue_array = [[vogue_wds[ii], vogue_frq[ii]] for ii in range(len(vogue_wds))]
vogue_phrase2DF = pd.DataFrame(data=vogue_array)
vogue_phrase2DF.columns = ['word','frequency']

# show the 20 most commonly used words
vogue_phrase2DF.sort_values('frequency',ascending=False)[:20]

                    word  frequency
45330  http vogue         9551
90604  vogue cm           9551
70877  red carpet         426
35910  fashion week       424
92684  week http          363
61890  new york           338
58175  met gala           327
49598  kendall jenner     295
39758  gigi hadid         271
81676  street style       259
49918  kim kardashian     235
49419  kardashian west    234
75810  selena gomez       224
7104   bella hadid        212
90145  victoria beckham   201
49457  kate middleton     195
7288   best beauty        178
90150  victoria secret    158
47121  instagrams week    153
33094  emily ratajkowski  147

In [37]:
w_mag = facebook[facebook['brand_name']=='W_Magazine'].copy()
w_mag.message.fillna('asdf', inplace=True)
wmag_trn, wmag_tst, wmag_like_trn, wmag_like_tst = train_test_split(w_mag['message'],w_mag['like_count'], test_size=0.3, random_state=6)

# CVT with ngrams of 2
wmag_stop_2wp = CountVectorizer(stop_words='english', ngram_range=(2,2))

wmag_set = wmag_stop_2wp.fit_transform(wmag_trn)

# store words and frequencies in arrays, then combine
wmag_wds = wmag_stop_2wp.get_feature_names()
wmag_frq = wmag_set.toarray().sum(axis=0)

# put the above into a single array, and make that array a DataFrame
wmag_array = [[wmag_wds[ii], wmag_frq[ii]] for ii in range(len(wmag_wds))]
wmag_phrase2DF = pd.DataFrame(data=wmag_array)
wmag_phrase2DF.columns = ['word','frequency']

# show the 20 most commonly used words
wmag_phrase2DF.sort_values('frequency',ascending=False)[:20]

                    word  frequency
76582  wmag cm            17360
42132  http wmag          17355
45627  kendall jenner     525
37879  gigi hadid         485
4924   bella hadid        421
61015  red carpet         334
8032   cara delevingne    316
45906  kim kardashian     274
77591  year old           246
54598  new york           243
35184  fashion week       198
45386  kanye west         184
68684  style http         178
45477  kardashian west    177
45511  kate moss          164
8185   carpet http        161
72246  trib al            151
42131  http trib          150
68370  street style       149
44531  jennifer lawrence  144

In [38]:
self = facebook[facebook['brand_name']=='Self'].copy()
self.message.fillna('asdf', inplace=True)
self_trn, self_tst, self_like_trn, self_like_tst = train_test_split(self['message'],self['like_count'], test_size=0.3, random_state=6)

# CVT with ngrams of 2
self_stop_2wp = CountVectorizer(stop_words='english', ngram_range=(2,2))

self_set = self_stop_2wp.fit_transform(self_trn)

# store words and frequencies in arrays, then combine
self_wds = self_stop_2wp.get_feature_names()
self_frq = self_set.toarray().sum(axis=0)

# put the above into a single array, and make that array a DataFrame
self_array = [[self_wds[ii], self_frq[ii]] for ii in range(len(self_wds))]
self_phrase2DF = pd.DataFrame(data=self_array)
self_phrase2DF.columns = ['word','frequency']

# show the 20 most commonly used words
self_phrase2DF.sort_values('frequency',ascending=False)[:20]

                   word  frequency
20938  http onself       279
3411   bagels squats     139
19705  healthy af        80
39365  self fitness      77
44587  teen vogue        75
30192  need know         56
51477  year old          54
49828  weight loss       47
12659  donald trump      46
26544  looks like        46
39375  self love         45
39367  self food         43
2657   ashley graham     42
39347  self beauty       41
3845   beauty style      41
34200  popsugar fitness  39
14567  experts say       39
17295  gigi hadid        39
48217  ve got            38
12197  doctors say       37

In [39]:
vfair = facebook[facebook['brand_name']=='Vanity_Fair'].copy()
vfair.message.fillna('asdf', inplace=True)
vfair_trn, vfair_tst, vfair_like_trn, vfair_like_tst = train_test_split(vfair['message'],vfair['like_count'], test_size=0.3, random_state=6)

# CVT with ngrams of 2
vfair_stop_2wp = CountVectorizer(stop_words='english', ngram_range=(2,2))

vfair_set = vfair_stop_2wp.fit_transform(vfair_trn)

# store words and frequencies in arrays, then combine
vfair_wds = vfair_stop_2wp.get_feature_names()
vfair_frq = vfair_set.toarray().sum(axis=0)

# put the above into a single array, and make that array a DataFrame
vfair_array = [[vfair_wds[ii], vfair_frq[ii]] for ii in range(len(vfair_wds))]
vfair_phrase2DF = pd.DataFrame(data=vfair_array)
vfair_phrase2DF.columns = ['word','frequency']

# show the 20 most commonly used words
vfair_phrase2DF.sort_values('frequency',ascending=False)[:20]

                    word  frequency
35588  http vntyfr        841
81099  vntyfr com         841
80358  vanity fair        818
21824  donald trump       453
25664  fair hive          406
29516  game thrones       273
51281  new york           149
83303  white house        149
34200  hillary clinton    134
64899  saturday night     123
51635  night live         116
70506  star wars          93
68056  silicon valley     83
81460  walking dead       79
85386  year old           75
74125  taylor swift       74
38408  jennifer lawrence  72
25747  fair vanities      70
61091  red carpet         70
42426  leonardo dicaprio  69

In [41]:
teenv = facebook[facebook['brand_name']=='Teen_Vogue'].copy()
teenv.message.fillna('asdf', inplace=True)
teenv_trn, teenv_tst, tvg_like_trn, tvg_like_tst = train_test_split(teenv['message'],teenv['like_count'], test_size=0.3, random_state=6)

# CVT with ngrams of 2
teenv_stop_2wp = CountVectorizer(stop_words='english', ngram_range=(2,2))

teenv_set = teenv_stop_2wp.fit_transform(teenv_trn)

# store words and frequencies in arrays, then combine
teenv_wds = teenv_stop_2wp.get_feature_names()
teenv_frq = teenv_set.toarray().sum(axis=0)

# put the above into a single array, and make that array a DataFrame
teenv_array = [[teenv_wds[ii], teenv_frq[ii]] for ii in range(len(teenv_wds))]
teenv_phrase2DF = pd.DataFrame(data=teenv_array)
teenv_phrase2DF.columns = ['word','frequency']

# show the 20 most commonly used words
teenv_phrase2DF.sort_values('frequency',ascending=False)[:20]

                  word  frequency
31459  kendall jenner   674
21653  gigi hadid       575
32557  kylie jenner     559
52065  selena gomez     554
58710  taylor swift     462
31247  justin bieber    339
15747  donald trump     302
2942   ariana grande    203
27442  http tnvge       167
4702   bella hadid      162
38969  miley cyrus      161
14012  demi lovato      157
46414  pretty little    149
25588  harry styles     147
34911  little liars     147
25585  harry potter     132
4715   bella thorne     118
26610  hillary clinton  115
63668  ve got           107
40688  need know        102

In [42]:
cnt = facebook[facebook['brand_name']=='Conde_Nast_Traveler'].copy()
cnt.message.fillna('asdf', inplace=True)
cnt_trn, cnt_tst, cnt_like_trn, cnt_like_tst = train_test_split(cnt['message'],cnt['like_count'], test_size=0.3, random_state=6)

# CVT with ngrams of 2
cnt_stop_2wp = CountVectorizer(stop_words='english', ngram_range=(2,2))

cnt_set = cnt_stop_2wp.fit_transform(cnt_trn)

# store words and frequencies in arrays, then combine
cnt_wds = cnt_stop_2wp.get_feature_names()
cnt_frq = cnt_set.toarray().sum(axis=0)

# put the above into a single array, and make that array a DataFrame
cnt_array = [[cnt_wds[ii], cnt_frq[ii]] for ii in range(len(cnt_wds))]
cnt_phrase2DF = pd.DataFrame(data=cnt_array)
cnt_phrase2DF.columns = ['word','frequency']

# show the 20 most commonly used words
cnt_phrase2DF.sort_values('frequency',ascending=False)[:20]

                       word  frequency
21043  http cntrvlr          1507
2722   architectural digest  216
29406  new york              197
48448  york city             117
47707  world http            116
28755  nast traveler         98
6154   bucket list           95
3146   atlas obscura         95
10697  condé nast            93
34298  readers choice        69
45072  ve seen               66
7887   choice awards         64
35797  road trip             60
32548  places world          54
5440   bon appétit           49
2677   appétit magazine      49
4379   beautiful places      47
39546  start planning        46
26086  los angeles           45
45037  ve got                44

In [43]:
clever = facebook[facebook['brand_name']=='Clever'].copy()
clever.message.fillna('asdf', inplace=True)
clever_trn, clever_tst, clever_like_trn, clever_like_tst = train_test_split(clever['message'],clever['like_count'], test_size=0.3, random_state=6)

# CVT with ngrams of 2
clever_stop_2wp = CountVectorizer(stop_words='english', ngram_range=(2,2))

clever_set = clever_stop_2wp.fit_transform(clever_trn)

# store words and frequencies in arrays, then combine
clever_wds = clever_stop_2wp.get_feature_names()
clever_frq = clever_set.toarray().sum(axis=0)

# put the above into a single array, and make that array a DataFrame
clever_array = [[clever_wds[ii], clever_frq[ii]] for ii in range(len(clever_wds))]
clever_phrase2DF = pd.DataFrame(data=clever_array)
clever_phrase2DF.columns = ['word','frequency']

# show the 20 most commonly used words
clever_phrase2DF.sort_values('frequency',ascending=False)[:20]

                    word  frequency
22293  http archdg        2111
10954  condé nast         262
30325  nast traveler      260
30961  new york           236
2298   apartment therapy  137
21401  home http          126
48366  york city          89
27302  look inside        63
26983  ll want            58
27512  los angeles        56
47851  world http         56
14470  dream home         47
30531  need know          47
40309  square foot        46
17980  frank lloyd        46
26987  lloyd wright       46
47197  white house        45
40822  step inside        45
26867  living room        42
32769  peek inside        40

## Graphics

## Has spend, will engage

In [1]:
facebook.has_spend

NameError: name 'facebook' is not defined